.reset-password-form-container{
    position: absolute;
    background: white;
    height: calc(100vh - 92px);
    width: 100vw;
    top: 92px;
    transition: .5s all;
    right: -100vw;
    z-index: 51;
    overflow: auto;
    .container{
        form{
            .forgot-password-form{
                .forgot-password-form-title{
                    text-align: center;
                    font-size: 25px;
                    font-family: $ubuntu-bold;
                    margin-bottom: 30px;
                }
                .forgot-password-entry-text{
                    text-align: center;
                    font-size: 14px;
                    font-family: $opensans-regular;
                    margin-bottom: 30px;
                }
                .form-group{
                    .form-control{
                        width: calc(100% - 30px);
                        border: 1px solid rgba(21,21,21,0.5);
                        font-family: $opensans-regular;
                        font-size: 14px;
                        height: 50px;
                        padding: 0px 15px;
                        &:focus{
                            border-color: $site-black;
                            &::placeholder{
                                color: $site-black;
                            }
                        }
                    }
                    .login-text{
                        font-family: $opensans-regular;
                        font-size: 14px;
                        text-align: center;
                        .login-button{
                            font-family: $opensans-bold;
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
                p{
                    input[type=submit]{
                        height: 50px;
                        width: 100%;
                        border: 1px solid $site-red;
                        background-color: $site-red;
                        text-transform: uppercase;
                        color: white;
                        font-family: $ubuntu-medium;
                        font-size: 14px;
                        transition: 0.5s all;
                        cursor: pointer;
                        margin-bottom: 30px;
                        &:hover{
                            background-color: transparent;
                            color: $site-red;
                        }
                    }
                }
            }
        }
    }
    &.focus{
        right: 0;
    }
}

@media only screen and ($large-devices){
    .reset-password-form-container{
        right: 0px;
        display: none;
        &.focus{
            display: block;
        }
    }
}